<div class="card card2 container Inicio">
  {{#if objetivo}}
    <div class="objetivo">
      <p><span class="p-2 span">Disponible para gastar por mes: {{objetivo.objetivoMensual}}</span> </p>
      <p><span class="p-2 span">Disponible para gastar por día:       {{objetivo.objetivoDiario}}</span></p>
      <p><span class="p-2 span">Tiempo para cumplir hasta cumplir objetivo:        {{objetivo.tiempo}}</span></p>
    </div>
  {{/if}}
  <div class='objetivo'>
    <div>
        <div>
          <p>Nuevo Ingreso: <input type="number" class="input nuevoIngreso"></p><label><input type="checkbox" id="checkbox" onclick="mostrarOpciones()"> Plazo Fijo </label>
          <div id="opciones" style="display: none;">
              <input type="radio" id="MercadoPago" name="MercadoPago" value="1">
              <label for="opcion1">MercadoPago</label><br>
              <input type="radio" id="Banco" name="Banco" value="2" >
              <label for="opcion2">Banco</label>
          </div>
       </div>
        <p>Nuevo Gasto: <input type="number" class="input nuevoGasto"></p>
        <button class="boton" onclick="segundoClick()">Calcular</button> 
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>