<div class="card card2 container Inicio">
    <p><span class="p-2">Hola Guiso</span></p> 
    <p><span class="p-2">Cuanto depositan?: <input type="number" class="input deposito"></span></p> 
    <p><span class="p-2">El total de pesos de guiso es de :  ${{total}}</span></p> 
    <button class="boton" onclick="depositar()">Depositar</button> 
</div>