    <div class="card container Inicio">
        <div>
            <h1>¡Bienvenido al Ahorrador!</h1>
            <p>Ingrese cantidad de ahorros: <input type="number" class="input ahorros"></p>
            <p>Ingresos objetivo de ahorro: <input type="number" class="input objetivo"></p>
            <p>Ingresos mensuales estimados: <input type="number" class="input salario"></p>
            <p>Ingresos tiempo en meses en el que quiere cumplirlo: <input type="number" class="input tiempo"></p>
            <button class="boton" onclick="primerClick()">Calcular</button> 
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
